.infoText {
  color: #bbbaba;
  font-weight: 400;
  font-size: 18px;
}

.errorText {
  color: #bd2c2c;
}


.checkboxItem{
  margin-bottom: 20px;

}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}