.secondaryText{
  display: flex;
  justify-content: space-between;
}

.userPhoto{
  cursor: pointer;
}

.userName{
  color: #196cbe;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}