.formContainer{
  display: flex;
  justify-content: center;

  .title{
    text-align: center;
  }

  .textInfo{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    opacity: 0.5;
  }
}