.formContainer {
  display: flex;
  justify-content: center;

  .paper{
    width: 400px;
    margin: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;

    .formItems{
      width: 100%;

      .title {
        text-align: center;
      }

      .infoText {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
        opacity: 0.5;
      }

      .helpText{
        opacity: 0.5;
        text-align: left;
        margin: 10px 0 25px 15px;
        font-size: 18px;
      }

      .link {
        margin: 15px 0;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        color: #1976d2;
        text-decoration-color: #1976d2;
      }

      .rightLink{
        text-align: right;
        margin-right: 15px;
        font-size: 18px;
      }
    }
  }


}