.mainContainer{

  .filtersContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid rgba(0, 0, 0, 0.18);
    margin-top: 20px;
    padding: 20px;

    &:hover{
      border-color: rgba(207, 207, 207, 0.49);
    }

    .searchFilter {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}